@import "tailwindcss";

*{
  margin: 0px;
  padding: 0px;
  color:white;
}


.green-glow {
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 1400px;
  height: 4000px;

  background: radial-gradient(
    ellipse at center,
    rgba(12, 255, 120, 0.45) 0%,
    rgba(12, 255, 120, 0.25) 30%,
    rgba(12, 255, 120, 0.1) 50%,
    rgba(12, 255, 120, 0.0) 70%
  );

  filter: blur(80px);
  pointer-events: none;

  animation: glowPulse 4s ease-in-out infinite;
}

@keyframes glowPulse {
  0% {
    opacity: 0.6;
    transform: translateX(-50%) scale(1);
  }
  50% {
    opacity: 1;
    transform: translateX(-50%) scale(1.08);
  }
  100% {
    opacity: 0.6;
    transform: translateX(-50%) scale(1);
  }
}

.trevor{
    width: 180px;
      height: 200px;
        display: inline-block;
    background: url("./assets/trevo.webp");
    background-size: contain;
     background-repeat: no-repeat;
     background-position: center bottom;
}

.neon-text {
  font-size: 234px;
  font-weight: 600;
  color: #F3FD91;

  text-shadow:
    0 0 5px  rgba(0, 255, 150, 0.6),
    0 0 10px rgba(0, 255, 150, 0.5),
    0 0 20px rgba(0, 255, 150, 0.4),
    0 0 40px rgba(0, 255, 150, 0.3);
}

.floating-item {
  position: absolute;
  color: rgba(120, 255, 200, 0.35);
  font-size: 14px;
  font-family: monospace;
  white-space: nowrap;
  filter: blur(0.3px);

  animation: float 6s ease-in-out infinite alternate;
}

@keyframes float {
  from {
    transform: translateY(0px) translateX(0px);
  }
  to {
    transform: translateY(-20px) translateX(10px);
  }
}

@keyframes float {
  0%   { transform: translate(0, 0); }
  50%  { transform: translate(10px, -20px); }
  100% { transform: translate(-10px, 10px); }
}
